body {
  background-color: #ffffff;
  font-family: Effra-Regular;
  font-size: 1.063em;
  font-weight: normal;
  line-height: 1.45;
  color: #5e5e6e;
}

.banner {
  position: relative;
  float: left;
  z-index: 75;
  width: 100%;
  height: 750px;
  margin-top: 72px;
  background-color: rgb(55, 70, 78);
}

.banner .just-a-line {
  width: 70px;
  height: 4px;
  margin-top: 30px;
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.col-1 {
  float: left;
  width: 18.75%;
  margin-left: 10%;
}

.col-2 {
  float: left;
  width: 587px;
  height: 587px;
  margin-left: 24px;
  background-color: rgb(233, 233, 233);
}

.col-3 {
  float: left;
  width: 18.75%;
  margin-left: 25px;
}

.contact {
  float: left;
}

.contact .btn {
  display: block;
  float: left;
  clear: both;
  margin-top: 25px;
  margin-left: 10%;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: Effra-Medium;
  font-size: 0.941em;
  line-height: 1;
  color: #ffffff;
}

.contact .contact {
  width: 25.0666666666%;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.content {
  float: left;
  clear: both;
}

.copyright {
  position: relative;
  float: left;
  z-index: 1;
  margin-left: 30px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.function {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.function .contact {
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.706em;
  line-height: 1.38;
  text-align: center;
  color: rgb(47, 62, 71);
}

.img {
  float: left;
  width: 281px;
  height: 281px;
  background-color: rgb(233, 233, 233);
}

.instagram {
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 100%;
  padding-bottom: 80px;
  background-color: #f6f6fa;
}

.instagram .just-a-line {
  width: 30px;
  height: 2px;
  margin-top: 60px;
  margin-left: 10%;
  background-color: #000233;
}

.instagram-feed {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 40px;
}

.intro {
  position: relative;
  float: left;
  clear: both;
  z-index: 71;
  width: 100%;
  padding-bottom: 80px;
  background-color: #f6f6fa;
}

.intro .content {
  width: 73.140625%;
  margin-top: 80px;
  margin-left: 10%;
  padding-bottom: 20px;
  font-size: 1em;
  color: #5e5e6e;
}

.intro .just-a-line {
  width: 30px;
  height: 2px;
  margin-top: 52px;
  margin-left: 10%;
  background-color: #000233;
}

.job {
  float: left;
  clear: both;
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-color: rgb(224, 226, 227);
  border-top-style: solid;
}

.just-a-line {
  float: left;
  clear: both;
}

.lang {
  float: left;
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 0.824em;
  font-weight: Bold;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 79;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.menu {
  float: left;
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.706em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.news {
  padding-bottom: 5px;
  font-size: 0.824em;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.number {
  float: left;
  width: 21.9733333333%;
  padding-bottom: 15px;
  font-family: Effra-Light;
  font-size: 5.294em;
  line-height: 1;
  text-transform: uppercase;
  color: #5e5e6e;
}

.reason {
  position: relative;
  float: left;
  width: 25.0666666666%;
}

.reason .content {
  width: 99.8768939393%;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  color: #5e5e6e;
}

.reason .just-a-line {
  width: 15px;
  height: 1px;
  background-color: #000233;
}

.reasons {
  position: relative;
  float: left;
  clear: both;
  z-index: 53;
  width: 100%;
  padding-bottom: 80px;
  background-color: #f6f6fa;
}

.sep {
  float: left;
  width: 100%;
  padding-top: 30px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  border-top-style: solid;
  border-bottom-style: solid;
  background-color: #ffffff;
}

.short-burst {
  float: left;
  clear: both;
  width: 73.140625%;
  margin-top: 70px;
  margin-left: 9.99271%;
  padding-bottom: 20px;
  font-family: Effra-Light;
  font-size: 1.941em;
  line-height: 1.5;
  color: #000233;
}

.to_top {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 81;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._5 {
  z-index: 34;
  margin-top: 20px;
  margin-left: 2.4%;
}

._container {
  position: relative;
}

._text {
  float: left;
}

.banner ._text {
  width: 52.5354166666%;
  margin-left: 10%;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.contact ._1 {
  position: relative;
  clear: both;
  z-index: 15;
  margin-left: 10%;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._2 {
  margin-left: 2.4%;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._3 {
  margin-left: 2.39896%;
}

.intro ._1 {
  margin-top: 50px;
}

.intro ._4 {
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 226, 227);
  border-bottom-style: solid;
}

.job ._text {
  font-family: Effra-Medium;
}

.reasons ._1 {
  clear: both;
  z-index: 50;
  margin-top: 45px;
  margin-left: 10%;
}

.reasons ._2 {
  z-index: 46;
  margin-top: 45px;
  margin-left: 2.4%;
}

.reasons ._3 {
  z-index: 42;
  margin-top: 45px;
  margin-left: 2.4%;
}

.reasons ._4 {
  clear: both;
  z-index: 38;
  margin-top: 20px;
  margin-left: 10%;
}

.sep ._text {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 30px;
  font-family: Effra-Bold;
  font-size: 0.824em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(34, 34, 34);
}

.contact-2 {
  position: relative;
  clear: both;
  z-index: 17;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: -webkit-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:    -moz-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:      -o-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:     -ms-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:         linear-gradient(128deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-color: #f6f6fa;
}

.img-2,
.img-4 {
  clear: both;
  margin-top: 25px;
}

.just-a-line-8 {
  width: 30px;
  height: 2px;
  margin-top: 56px;
  margin-left: 10%;
  background-color: #000233;
}

._container-1 {
  float: left;
  clear: both;
  z-index: 5;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(47, 62, 71);
}

._container-2 {
  float: right;
  z-index: 4;
  width: 15.2666666666%;
  min-width: 229px;
  margin-right: 30px;
}

._text-18 {
  margin-left: 63px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

._text-19 {
  margin-left: 54px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.banner ._text-1 {
  display: block;
  margin-top: 400px;
  padding-bottom: 25px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.banner ._text-2 {
  clear: both;
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 3.235em;
}

.contact ._text-14 {
  margin-left: 10%;
  padding-bottom: 18px;
  font-family: Effra;
  font-size: 1.529em;
  font-weight: Medium;
  line-height: 1.1;
  color: #ffffff;
}

.contact ._text-15,
.contact ._text-16,
.contact ._text-17 {
  padding-bottom: 10px;
  font-family: Effra-Medium;
  font-size: 1em;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.job ._text-10,
.job ._text-4,
.job ._text-6,
.job ._text-8 {
  width: 27.4666666666%;
  padding-bottom: 18px;
  font-size: 1.529em;
  line-height: 1.1;
  color: #000244;
}

.job ._text-11 {
  margin-top: 7px;
  margin-left: 20.59896%;
  padding-bottom: 10px;
  font-size: 1em;
  line-height: 1.2;
  color: #333333;
}

.job ._text-5,
.job ._text-7,
.job ._text-9 {
  margin-top: 7px;
  margin-left: 20.60026%;
  padding-bottom: 10px;
  font-size: 1em;
  line-height: 1.2;
  color: #333333;
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}

.content a {
  color: rgb(251, 104, 27);
}