body {
  background-color: #ececec;
  font: normal 1.438em/1.1 Effra-Medium;
  color: rgb(34, 34, 34);
}

.banner {
  position: relative;
  float: left;
  z-index: 15;
  width: 100%;
  height: 401px;
  background-color: rgb(55, 70, 78);
}

.btn {
  float: left;
  height: 46px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact {
  width: 100px;
  margin-left: 12.58371%;
  padding-top: 14px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.522em;
  color: rgb(47, 62, 71);
}

.content-container {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(224, 226, 227);
}

.function {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin: 12px 20px 0 0;
}

.job-tag {
  float: left;
  clear: both;
  padding-bottom: 5px;
  font: Regular 0.609em/1.2 Effra;
  color: rgb(34, 34, 34);
}

.job-title {
  float: left;
  padding-bottom: 12px;
  font-size: 1em;
  color: rgb(34, 34, 34);
}

.lang {
  width: 46px;
  padding-top: 13px;
  border: 1px solid rgba(244, 244, 244, 0.43);
  border-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 0.609em;
  font-weight: Bold;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 19;
  width: 88px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.menu {
  width: 100px;
  margin: 12px 0 0 20px;
  padding-top: 14px;
  border: 1px solid rgba(244, 244, 244, 0.43);
  border-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.522em;
  color: rgb(255, 255, 255);
}

.project-1 {
  float: left;
  width: 25.0666666666%;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
}

.project-2,
.project-3 {
  float: left;
  width: 25.0666666666%;
  margin-left: 2.4%;
  background-color: rgb(222, 222, 222);
}

.project-info {
  float: left;
  width: 100%;
  margin-top: 256px;
  padding: 25px 30px;
  background-color: rgb(255, 255, 255);
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._text {
  float: left;
}

.banner ._text-1 {
  width: 100%;
  margin-top: 188px;
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 2.609em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.banner ._text-2 {
  clear: both;
  padding-bottom: 10px;
  font: 1.217em/1.4 Effra-Light;
  color: rgb(195, 195, 195);
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}