.fluid-span-1 {
  width: 3.8666666667%;
}

.fluid-span-2 {
  width: 10.7333333333%;
}

.fluid-span-3 {
  width: 17.6%;
}

.fluid-span-4 {
  width: 24.4666666667%;
}

.fluid-span-5 {
  width: 31.3333333333%;
}

.fluid-span-6 {
  width: 38.2%;
}

.fluid-span-7 {
  width: 45.0666666667%;
}

.fluid-span-8 {
  width: 51.9333333333%;
}

.fluid-span-9 {
  width: 58.8%;
}

.fluid-span-10 {
  width: 65.6666666667%;
}

.fluid-span-11 {
  width: 72.5333333333%;
}

.fluid-span-12 {
  width: 79.4%;
}

.fluid-span-13 {
  width: 86.2666666667%;
}

.fluid-span-14 {
  width: 93.1333333333%;
}

.fluid-span-15 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 6.8666666667%;
}

.fluid-offset-2 {
  margin-left: 13.7333333333%;
}

.fluid-offset-3 {
  margin-left: 20.6%;
}

.fluid-offset-4 {
  margin-left: 27.4666666667%;
}

.fluid-offset-5 {
  margin-left: 34.3333333333%;
}

.fluid-offset-6 {
  margin-left: 41.2%;
}

.fluid-offset-7 {
  margin-left: 48.0666666667%;
}

.fluid-offset-8 {
  margin-left: 54.9333333333%;
}

.fluid-offset-9 {
  margin-left: 61.8%;
}

.fluid-offset-10 {
  margin-left: 68.6666666667%;
}

.fluid-offset-11 {
  margin-left: 75.5333333333%;
}

.fluid-offset-12 {
  margin-left: 82.4%;
}

.fluid-offset-13 {
  margin-left: 89.2666666667%;
}

.fluid-offset-14 {
  margin-left: 96.1333333333%;
}

