body {
  background-color: #ffffff;
  font-family: Effra-Light;
  font-size: 2.063em;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(76, 97, 110);
}

.banner {
  position: relative;
  float: left;
  z-index: 18;
  width: 100%;
  height: 750px;
  margin-top: 72px;
  background-color: #37464e;
}

.btn {
  float: left;
  text-align: center;
}

.client {
  float: left;
  width: 14.0791666666%;
  height: 211px;
  background-color: rgb(247, 247, 247);
}

.clients {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
}

.contact {
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.364em;
  line-height: 1.38;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(47, 62, 71);
}

.content-container {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: rgb(204, 207, 209);
}

.filters {
  float: left;
  width: 80%;
  height: 21px;
  margin-left: 10%;
}

.function {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.just-a-line {
  float: left;
  clear: both;
  width: 70px;
  height: 4px;
  margin-top: 30px;
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
}

.label-head {
  float: left;
  padding-bottom: 5px;
  font-family: Effra;
  font-size: 0.424em;
  font-weight: Regular;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.lang {
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 0.424em;
  font-weight: Bold;
  line-height: 1.38;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.menu {
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.364em;
  line-height: 1.38;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.section-intro {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6fa;
}

.section-intro .btn {
  clear: both;
  min-width: 300px;
  margin-left: 4.36875%;
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgb(251, 104, 27);
  box-shadow: 0 3px 0 rgb(147, 63, 19);
  font-family: Effra;
  font-size: 0.545em;
  font-weight: Medium;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.selector-bar {
  position: relative;
  float: left;
  clear: both;
  z-index: 14;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #cccfd1;
}

.selectors {
  float: left;
  margin-left: 2.04818%;
  padding-bottom: 5px;
  font-family: Effra;
  font-size: 0.424em;
  font-weight: Regular;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 24;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._1 {
  margin-left: 10%;
}

._2,
._3,
._4 {
  margin-left: 2.4%;
}

._5 {
  margin-left: 2.40313%;
}

._text {
  float: left;
}

.banner ._text {
  width: 52.5354166666%;
  margin-left: 10%;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.content-container ._text {
  margin-left: 10%;
  padding-bottom: 8px;
  font-family: Effra-Medium;
  font-size: 0.515em;
  line-height: 1.2;
  color: #333333;
}

.section-intro ._text {
  margin-left: 13.09167%;
  padding-bottom: 20px;
  font-size: 1em;
  color: rgb(76, 97, 110);
}

.banner ._text-1 {
  display: block;
  margin-top: 400px;
  padding-bottom: 25px;
  font-family: Effra-Medium;
  font-size: 0.424em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.banner ._text-2 {
  clear: both;
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 1.667em;
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}

.label-head strong {
  font-style: normal;
  font-weight: Bold;
}