body {
  background-color: #ffffff;
  font-family: Effra;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.banner {
  position: relative;
  float: left;
  z-index: 45;
  width: 100%;
  height: 750px;
  margin-top: 72px;
  background-color: #37464e;
}

.banner .just-a-line {
  width: 70px;
  height: 4px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.client {
  float: left;
  width: 16%;
  height: 130px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(234, 235, 235);
  border-right-color: rgb(234, 235, 235);
  border-bottom-color: rgb(234, 235, 235);
  border-left-color: rgb(234, 235, 235);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgba(255, 255, 255, 0);
}

.clients {
  float: left;
  clear: both;
  width: 100%;
}

.clients .just-a-line,
.section-intro .just-a-line {
  width: 30px;
  height: 2px;
  margin-top: 80px;
  background-color: #000233;
}

.contact {
  float: left;
}

.contact .btn {
  display: block;
  float: left;
  clear: both;
  margin-top: 25px;
  margin-left: 10%;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: Effra-Medium;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
}

.contact .contact {
  width: 25.0666666666%;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.content {
  float: left;
  clear: both;
  padding-bottom: 5px;
  font-family: Effra-Regular;
  color: rgb(255, 255, 255);
}

.copyright {
  position: relative;
  float: left;
  z-index: 1;
  margin-left: 30px;
  font-family: Effra-Medium;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.filters {
  float: left;
  width: 80%;
  height: 21px;
  margin-left: 10%;
}

.function {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.function .contact {
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 12px;
  line-height: 1.38;
  text-align: center;
  color: rgb(47, 62, 71);
}

.just-a-line {
  float: left;
  clear: both;
  margin-left: 10%;
}

.label-head {
  float: left;
  padding-bottom: 5px;
  font-weight: Regular;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.lang {
  float: left;
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-weight: Bold;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 49;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.menu {
  float: left;
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 12px;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.section-intro {
  position: relative;
  float: left;
  clear: both;
  z-index: 37;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f6f6fa;
}

.section-intro .btn {
  float: left;
  clear: both;
  margin-top: 40px;
  margin-left: 10%;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #000244;
  border-right-color: #000244;
  border-bottom-color: #000244;
  border-left-color: #000244;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 16px;
  font-weight: Bold;
  line-height: 1;
  color: #000244;
}

.selector-bar {
  position: relative;
  float: left;
  clear: both;
  z-index: 41;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #a8a8af;
}

.selectors {
  float: left;
  margin-left: 2.04818%;
  padding-bottom: 5px;
  font-weight: Regular;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.sep {
  float: left;
  width: 100%;
  padding-top: 30px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  border-top-style: solid;
  border-bottom-style: solid;
  background-color: #ffffff;
}

.to_top {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: Effra-Medium;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._1 {
  margin-left: 10%;
}

._container {
  position: relative;
}

._text {
  float: left;
}

.banner ._text {
  width: 52.5354166666%;
  margin-left: 10%;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.contact ._1 {
  position: relative;
  clear: both;
  z-index: 15;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._2 {
  position: relative;
  z-index: 12;
  margin-left: 2.4%;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._3 {
  margin-left: 2.39896%;
}

.section-intro ._text {
  width: 71.4133333333%;
  margin-left: 10%;
  padding-bottom: 20px;
  font-family: Effra-Light;
  font-size: 33px;
  color: #000233;
}

.sep ._text {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 30px;
  font-family: Effra-Bold;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(34, 34, 34);
}

.client-1 {
  position: relative;
  z-index: 25;
}

.client-2 {
  position: relative;
  z-index: 26;
}

.client-3 {
  position: relative;
  z-index: 27;
}

.client-4 {
  position: relative;
  z-index: 28;
}

.client-5 {
  position: relative;
  z-index: 29;
}

.clients-1 {
  position: relative;
  z-index: 33;
  padding-bottom: 120px;
  background-color: #f6f6fa;
}

.clients-2 {
  margin-top: 84px;
}

.contact-2 {
  position: relative;
  clear: both;
  z-index: 17;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: -webkit-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:    -moz-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:      -o-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:     -ms-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:         linear-gradient(128deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-color: #f6f6fa;
}

._container-1 {
  float: left;
  clear: both;
  z-index: 5;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(47, 62, 71);
}

._container-2 {
  float: right;
  z-index: 4;
  width: 15.2666666666%;
  min-width: 229px;
  margin-right: 30px;
}

._text-10 {
  margin-left: 54px;
  font-family: Effra-Medium;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

._text-9 {
  margin-left: 63px;
  font-family: Effra-Medium;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.banner ._text-1 {
  display: block;
  margin-top: 400px;
  padding-bottom: 25px;
  font-family: Effra-Medium;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.banner ._text-2 {
  clear: both;
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 55px;
}

.contact ._text-5 {
  margin-left: 10%;
  padding-bottom: 18px;
  font-size: 26px;
  font-weight: Medium;
  line-height: 1.1;
  color: #ffffff;
}

.contact ._text-6,
.contact ._text-7,
.contact ._text-8 {
  padding-bottom: 10px;
  font-family: Effra-Medium;
  font-size: 17px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}

.label-head strong {
  font-style: normal;
  font-weight: Bold;
}