body {
  background-color: rgb(255, 255, 255);
  font-family: Effra-Regular;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(34, 34, 34);
}

.btn-1 {
  float: left;
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.857em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.btn-2 {
  float: left;
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 1em;
  font-weight: Bold;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.btn-3 {
  float: left;
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.857em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(47, 62, 71);
}

.content-1,
.content-2,
.content-3 {
  float: left;
  clear: both;
  padding-bottom: 5px;
  font-size: 1em;
  color: rgb(34, 34, 34);
}

.date-1,
.date-2,
.date-3 {
  float: left;
  padding-bottom: 5px;
  font-size: 1em;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.function-1 {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.img-1 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 35%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.img-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 60%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.img-3 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 45%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.intro-1 {
  float: left;
  width: 80%;
  margin-top: 172px;
  margin-left: 10%;
  padding-bottom: 200px;
}

.intro-2 {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.logo-1 {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 35;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.news-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 14;
  width: 25.0666666666%;
  margin-top: 20px;
  margin-left: 10%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-left-width: 1px;
  border-left-color: rgb(204, 207, 209);
  border-left-style: solid;
  background-color: rgb(255, 255, 255);
}

.news-3 {
  position: relative;
  float: left;
  z-index: 18;
  width: 25.0666666666%;
  margin-top: 20px;
  margin-left: 2.4%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-left-width: 1px;
  border-left-color: rgb(204, 207, 209);
  border-left-style: solid;
  background-color: rgb(255, 255, 255);
}

.news-5 {
  position: relative;
  float: left;
  z-index: 22;
  width: 25.0666666666%;
  margin-top: 20px;
  margin-left: 2.4%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-left-width: 1px;
  border-left-color: rgb(204, 207, 209);
  border-left-style: solid;
  background-color: rgb(255, 255, 255);
}

.sep-1,
.sep-2 {
  float: left;
  width: 80%;
  height: 1px;
  margin-left: 10%;
  background-color: rgba(251, 104, 27, 0.52);
}

.top-menu-1 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._1-2 {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 40px;
  background-color: #ffffff;
}

._1-3 {
  float: left;
  clear: both;
  width: 100%;
  background-color: #ffffff;
}

._container-1 {
  float: left;
  width: 100%;
  background-image: -webkit-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:    -moz-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:      -o-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:     -ms-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:         linear-gradient(450deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, left center;
  background-attachment: scroll, scroll;
  background-color: rgb(55, 70, 78);
}

._text-1 {
  float: left;
  padding-bottom: 13px;
  font-family: Effra;
  font-size: 3.929em;
  font-weight: Regular;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

._text-10 {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  margin-top: 35px;
  margin-left: 10%;
  font-family: Effra-Italic;
  font-size: 1.143em;
  line-height: 1;
  text-align: center;
  color: rgb(172, 172, 172);
}

._text-12 {
  float: left;
  width: 80%;
  margin-top: 126px;
  margin-left: 10%;
  padding-bottom: 30px;
  font-size: 2.357em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

._text-13 {
  float: left;
  width: 80%;
  margin-top: 120px;
  margin-left: 10%;
  padding-bottom: 30px;
  font-size: 2.357em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

._text-14 {
  float: left;
  width: 80%;
  margin-top: 113px;
  margin-left: 10%;
  padding-bottom: 30px;
  font-size: 2.357em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

._text-15 {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  margin-top: 35px;
  margin-left: 10%;
  font-family: Effra;
  font-style: italic;
  font-size: 1.214em;
  font-weight: Regular;
  line-height: 1;
  text-align: center;
  color: rgb(163, 163, 163);
}

._text-11,
._text-16 {
  float: left;
  clear: both;
  width: 80%;
  margin-top: 60px;
  margin-left: 10.13125%;
  padding-bottom: 20px;
  font-family: Effra-Bold;
  font-size: 1em;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(251, 104, 27);
}

._text-2 {
  float: left;
  clear: both;
  width: 60.6666666666%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: Effra-Light;
  font-size: 2em;
  line-height: 1.4;
  color: rgb(195, 195, 195);
}

._text-3 {
  display: block;
  float: left;
  clear: both;
  margin-top: 20px;
  margin-left: 0.26823%;
  border-bottom-width: 2px;
  border-bottom-color: rgb(251, 104, 27);
  border-bottom-style: solid;
  font-size: 2em;
  line-height: 1.15;
  color: rgb(255, 255, 255);
}

._text-4,
._text-5 {
  display: block;
  float: left;
  clear: both;
  margin-top: 12px;
  margin-left: 0.26823%;
  border-bottom-width: 2px;
  border-bottom-color: rgb(251, 104, 27);
  border-bottom-style: solid;
  font-size: 2em;
  line-height: 1.15;
  color: rgb(255, 255, 255);
}

._text-6 {
  float: left;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
  font-family: Effra-Bold;
  font-size: 1em;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(251, 104, 27);
}

._text-7,
._text-8,
._text-9 {
  float: left;
  clear: both;
  margin-top: 5px;
  padding-bottom: 8px;
  font-family: Effra-Medium;
  font-size: 1.214em;
  line-height: 1.2;
  color: #333333;
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}