body {
  background-color: #ffffff;
  font-family: Effra-Regular;
  font-size: 1.063em;
  font-weight: normal;
  line-height: 1.45;
  color: rgb(255, 255, 255);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.client {
  float: left;
  width: 16%;
  height: 130px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(234, 235, 235);
  border-right-color: rgb(234, 235, 235);
  border-bottom-color: rgb(234, 235, 235);
  border-left-color: rgb(234, 235, 235);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgba(255, 255, 255, 0);
}

.clients {
  float: left;
  clear: both;
  width: 100%;
}

.contact {
  float: left;
}

.contact .btn {
  display: block;
  float: left;
  clear: both;
  margin-top: 25px;
  margin-left: 10%;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: Effra-Medium;
  font-size: 0.941em;
  line-height: 1;
  color: #ffffff;
}

.contact .contact {
  width: 25.0666666666%;
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.contact .content {
  padding-bottom: 5px;
  font-size: 0.824em;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.content {
  float: left;
  clear: both;
}

.copyright {
  position: relative;
  float: left;
  z-index: 1;
  margin-left: 30px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.date {
  float: left;
  padding-bottom: 5px;
  font-size: 0.824em;
  line-height: 1.2;
  color: rgb(34, 34, 34);
}

.function {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.function .contact {
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.706em;
  line-height: 1.38;
  text-align: center;
  color: rgb(47, 62, 71);
}

.img-1 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/LiFung_03.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 35%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.img-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/Meratus-banner.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 60%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.img-3 {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 83.33333333333334%, rgba(0, 0, 0, 0.52) 100%), url('../images/ACG_banner_0.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, 50% 45%;
  background-attachment: scroll, scroll;
  background-color: rgb(0, 0, 0);
}

.intro {
  float: left;
}

.just-a-line {
  float: left;
  clear: both;
  width: 30px;
  height: 2px;
  margin-top: 100px;
  margin-left: 10%;
  background-color: #000233;
}

.lang {
  float: left;
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 0.824em;
  font-weight: Bold;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 73;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.menu {
  float: left;
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.706em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.news .content {
  padding-bottom: 25px;
  font-size: 1em;
  color: #5e5e6e;
}

.our_work {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 120px;
  background-color: #f6f6fa;
}

.sep {
  float: left;
  width: 100%;
  padding-top: 30px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  border-top-style: solid;
  border-bottom-style: solid;
  background-color: #ffffff;
}

.to_top {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top-menu {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._1 {
  margin-left: 10%;
}

._text {
  float: left;
}

.clients ._text {
  margin-left: 10%;
}

.contact ._1 {
  position: relative;
  clear: both;
  z-index: 15;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._2 {
  margin-left: 2.4%;
  border-right-width: 1px;
  border-right-color: rgba(224, 226, 227, 0.49);
  border-right-style: solid;
}

.contact ._3 {
  margin-left: 2.39896%;
}

.img-1 ._text {
  width: 80%;
  margin-top: 126px;
  margin-left: 10%;
  padding-bottom: 18px;
  font-size: 1.529em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

.img-2 ._text {
  width: 80%;
  margin-top: 120px;
  margin-left: 10%;
  padding-bottom: 18px;
  font-size: 1.529em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

.img-3 ._text {
  width: 80%;
  margin-top: 113px;
  margin-left: 10%;
  padding-bottom: 30px;
  font-size: 1.941em;
  line-height: 1.1;
  text-align: center;
  color: rgb(255, 255, 255);
}

.intro ._1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 51;
  width: 25.0666666666%;
  margin-top: 50px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-right-width: 1px;
  border-right-color: rgb(224, 226, 227);
  border-right-style: solid;
  background-color: rgba(255, 255, 255, 0);
}

.intro ._2 {
  position: relative;
  float: left;
  z-index: 55;
  width: 25.0666666666%;
  margin-top: 50px;
  margin-left: 2.4%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-right-width: 1px;
  border-right-color: rgb(224, 226, 227);
  border-right-style: solid;
  background-color: rgba(255, 255, 255, 0);
}

.intro ._3 {
  position: relative;
  float: left;
  z-index: 59;
  width: 25.0666666666%;
  margin-top: 50px;
  margin-left: 2.4%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.news ._text {
  clear: both;
  padding-bottom: 10px;
  font-family: Effra-Medium;
  font-size: 1em;
  line-height: 1.2;
  color: #333333;
}

.sep ._text {
  width: 80%;
  padding-bottom: 30px;
  font-size: 0.824em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(34, 34, 34);
}

.client-1 {
  position: relative;
  z-index: 26;
}

.client-2 {
  position: relative;
  z-index: 27;
}

.client-3 {
  position: relative;
  z-index: 28;
}

.client-4 {
  position: relative;
  z-index: 29;
}

.client-5 {
  position: relative;
  z-index: 30;
}

.clients-1 {
  padding-bottom: 120px;
  background-color: #f6f6fa;
}

.clients-2 {
  margin-top: 80px;
}

.contact-2 {
  clear: both;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: -webkit-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:    -moz-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:      -o-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:     -ms-linear-gradient(322deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-image:         linear-gradient(128deg, rgb(47, 62, 71) 0%, #3e9cd4 100%);
  background-color: #f6f6fa;
}

.intro-1 {
  width: 80%;
  margin-top: 172px;
  margin-left: 10%;
  padding-bottom: 200px;
}

.intro-2 {
  clear: both;
  width: 100%;
  padding-bottom: 120px;
  background-color: #f6f6fa;
}

._container-1 {
  float: left;
  width: 100%;
  background-image: -webkit-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:    -moz-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:      -o-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:     -ms-linear-gradient(0deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-image:         linear-gradient(450deg, rgb(55, 70, 78) 0%, rgba(47, 62, 71, 0.65) 100%), url('../images/studio_14.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-position: 0% 0%, left center;
  background-attachment: scroll, scroll;
  background-color: rgb(55, 70, 78);
}

._container-2 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(47, 62, 71);
}

._container-3 {
  position: relative;
  float: right;
  z-index: 4;
  width: 15.2666666666%;
  min-width: 229px;
  margin-right: 30px;
}

._text-22 {
  margin-left: 63px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

._text-23 {
  margin-left: 54px;
  font-family: Effra-Medium;
  font-size: 0.824em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.clients ._text-17 {
  display: block;
  clear: both;
  width: 80%;
  margin-top: 45px;
  font-family: effra;
  font-style: italic;
  font-size: 1.059em;
  font-weight: 500;
  line-height: 1;
  color: #939393;
}

.contact ._text-18 {
  margin-left: 10%;
  padding-bottom: 18px;
  font-family: effra;
  font-size: 1.529em;
  font-weight: 500;
  line-height: 1.1;
  color: #ffffff;
}

.contact ._text-19,
.contact ._text-20,
.contact ._text-21 {
  padding-bottom: 10px;
  font-family: Effra-Medium;
  font-size: 1em;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.intro ._text-1 {
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 3.235em;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.intro ._text-10 {
  display: block;
  clear: both;
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;
  font-family: Effra-Italic;
  font-size: 1.059em;
  line-height: 1;
  color: #939393;
}

.intro ._text-2 {
  clear: both;
  width: 60.6666666666%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: Effra-Light;
  font-size: 1.647em;
  line-height: 1.4;
  color: rgb(195, 195, 195);
}

.intro ._text-3 {
  display: block;
  clear: both;
  margin-top: 20px;
  margin-left: 0.26823%;
  border-bottom-width: 2px;
  border-bottom-color: rgb(251, 104, 27);
  border-bottom-style: solid;
  font-size: 1.647em;
  line-height: 1.15;
  color: rgb(255, 255, 255);
}

.intro ._text-4,
.intro ._text-5 {
  display: block;
  clear: both;
  margin-top: 12px;
  margin-left: 0.26823%;
  border-bottom-width: 2px;
  border-bottom-color: rgb(251, 104, 27);
  border-bottom-style: solid;
  font-size: 1.647em;
  line-height: 1.15;
  color: rgb(255, 255, 255);
}

.news ._text-7,
.news ._text-9 {
  margin-top: 5px;
}

.our_work ._text-15 {
  display: block;
  clear: both;
  width: 80%;
  margin-top: 45px;
  margin-left: 10%;
  font-family: effra;
  font-style: italic;
  font-size: 1.059em;
  font-weight: 500;
  line-height: 1;
  color: #939393;
}

.sep ._text-11 {
  margin-left: 10.13125%;
  font-family: Effra-Bold;
}

.sep ._text-16 {
  font-family: Effra-Medium;
}

.sep ._text-6 {
  margin-left: 10%;
  font-family: Effra-Bold;
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}