body {
  background-color: rgb(0, 0, 0);
  font-family: Effra-Light;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.8;
  color: #0b0b0b;
}

.banner-1 {
  position: relative;
  float: left;
  z-index: 25;
  width: 100%;
  height: 650px;
  margin-top: 72px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/ACG_banner_0.jpg');
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/ACG_banner_0.jpg');
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/ACG_banner_0.jpg');
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/ACG_banner_0.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/ACG_banner_0.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 130% auto;
  background-position: 0% 0%, center center;
  background-attachment: scroll, scroll;
  background-color: rgb(204, 204, 204);
}

.brief-1 {
  float: left;
  width: 37.9199999999%;
  margin-left: 10.5%;
}

.btn-1 {
  float: left;
  width: 100px;
  height: 46px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra-Bold;
  font-size: 0.6em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.btn-2 {
  float: left;
  width: 46px;
  height: 46px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgba(244, 244, 244, 0.43);
  border-right-color: rgba(244, 244, 244, 0.43);
  border-bottom-color: rgba(244, 244, 244, 0.43);
  border-left-color: rgba(244, 244, 244, 0.43);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  background-color: rgb(47, 62, 71);
  font-family: Effra;
  font-size: 0.7em;
  font-weight: Bold;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.btn-3 {
  float: left;
  width: 100px;
  height: 46px;
  margin-left: 12.58371%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgb(255, 255, 255);
  font-family: Effra-Bold;
  font-size: 0.6em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(47, 62, 71);
}

.caption-1 {
  float: left;
  clear: both;
  margin-top: 19px;
  margin-left: 17.34375%;
  font-family: Effra-Regular;
  font-size: 0.8em;
  line-height: 1.45;
  color: rgb(135, 135, 135);
}

.caption-2 {
  float: left;
  clear: both;
  margin-top: 20px;
  margin-left: 17.34375%;
  font-family: Effra-Regular;
  font-size: 0.8em;
  line-height: 1.45;
  color: rgb(135, 135, 135);
}

.caption-3 {
  float: left;
  clear: both;
  margin-left: 17.33021%;
  font-family: Effra-Regular;
  font-size: 0.8em;
  line-height: 1.45;
  color: rgb(135, 135, 135);
}

.chart-1-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 31.0762499999%;
  height: 300px;
  margin-top: 50px;
  margin-left: 17.34375%;
  background-color: rgb(204, 204, 204);
}

.chart-2-1 {
  position: relative;
  float: left;
  z-index: 0;
  width: 31.0741666666%;
  height: 300px;
  margin-top: 50px;
  margin-left: 3.15938%;
  background-color: rgb(204, 204, 204);
}

.content-1,
.content-2 {
  float: left;
  clear: both;
  font-size: 1em;
  color: #0b0b0b;
}

.content-3 {
  float: left;
  clear: both;
  margin-top: 30px;
  padding-bottom: 13px;
  font-family: Effra-Italic;
  font-size: 0.85em;
  line-height: 1;
  text-align: center;
  color: rgb(163, 163, 163);
}

.function-1 {
  float: right;
  width: 11.2%;
  min-width: 168px;
  margin-top: 12px;
  margin-right: 20px;
}

.heading-1 {
  float: left;
  width: 44.7672916666%;
  margin-top: 434px;
  margin-left: 24.19271%;
}

.img-1 {
  float: left;
  width: 100%;
  height: 350px;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), url('../images/ACG_01.jpg');
  background-image:    -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), url('../images/ACG_01.jpg');
  background-image:      -o-linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), url('../images/ACG_01.jpg');
  background-image:     -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), url('../images/ACG_01.jpg');
  background-image:         linear-gradient(450deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), url('../images/ACG_01.jpg');
  background-repeat: repeat, no-repeat;
  background-size: 100% 100%, 100% auto;
  background-position: 0% 0%, left top;
  background-attachment: scroll, scroll;
  background-color: rgb(255, 255, 255);
}

.img-2 {
  float: left;
  width: 100%;
  height: 350px;
  background-image: url('../images/ACG_02.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  background-color: rgb(255, 255, 255);
}

.img-3 {
  float: left;
  width: 65.3333333333%;
  height: 606px;
  margin-left: 17.33021%;
  background-image: url('../images/ACG_03.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-color: rgb(255, 255, 255);
}

.intro-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

.logo-1 {
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 29;
  width: 88px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.main-4-1 {
  float: left;
  width: 52.2666666666%;
  margin-left: 23.86667%;
}

.solution-1 {
  float: left;
  width: 37.9260416666%;
  margin-left: 3.15417%;
}

.top-menu-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 31;
  width: 100%;
  height: 72px;
  background-color: rgb(47, 62, 71);
}

._1-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 100%;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

._2-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

._3-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 100%;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

._4-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(195, 195, 195);
  border-bottom-style: solid;
  background-color: rgb(255, 255, 255);
}

._text-1 {
  float: left;
  margin-left: -0.00233%;
  padding-bottom: 13px;
  font-family: Effra-Bold;
  font-size: 2.75em;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

._text-2 {
  float: left;
  clear: both;
  width: 100%;
  margin-left: -0.00233%;
  padding-bottom: 10px;
  font-size: 1.4em;
  line-height: 1.4;
  color: rgb(195, 195, 195);
}

._text-3,
._text-4 {
  float: left;
  padding-bottom: 20px;
  font-family: Effra-Bold;
  font-size: 0.7em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(251, 104, 27);
}

._text-5 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  font-family: Effra-Bold;
  font-size: 0.7em;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(251, 104, 27);
}

.btn span {
  font-family: FontAwesome;
  font-weight: Regular;
}